---
layout: home
---

<section id="overlay-container" class="overlay-container">
	<div id="home-content-container" class="home-content-container">
		{% for post in site.posts %}
			{% if post.categories.first == 'press' %}
			{% else %}
				<div id="excerpt-{{post.categories | first}}" class="excerpt-{{post.categories | first}}{% if post.banner == true %}-banner{% else %}{% endif %}">
					<div class="excerpt-container{% if post.categories.first == 'juju' %}-juju{% endif %}">
							<div id="badge-{{post.categories | first}}" class="badge-{{post.categories | first}}"></div>
							<div class="excerpt-content">
							<div class="{{post.categories | first}}-image">{% if post.categories.first == 'juju' %}{% else %}<a href="{{ post.url }}">{% endif %}<img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="{{post.photo-alt}}">{% if post.categories.first == 'juju' %}{% else %}</a>{% endif %}</div>
							<div class="{{post.categories | first}}-aside">
								{% if post.categories contains 'blog' %}
								<date class="{{post.categories | first}}-date">01.24.14</date>
								{% else %}{% endif %}
								<h1 class="h4"><a href="{{ post.url }}">{{post.title}}</a></h1>
								{% if post.custom-excerpt %}
								{{ post.custom-excerpt }}
								{% elsif post.categories.first == 'juju' %}
								<p>{{ post.content }} </p>
								{% else %}
								{{ post.excerpt }} 
								<p><a href="{{ post.url }}">Read more...</a></p>
								{% endif %}
							</div>
						</div>
						<div class="excerpt-border"></div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
</section>
<section id="home-banner" class="home-banner">
	<div class="opening-container">
		<div class="opening">
		 <video id="opening-animation" class="opening-animation" src="assets/video/JUJU_NotWar.mp4" preload autoplay></video>
		</div>
	</div>
</section>