////////////////////
//////////////////
//
// Jacksons Corner
// Website
// TYPOGRAPHY
// v 1.0
//
// TABLE OF CONTENTS
//
// - Fonts
// - Colors
// - Typography
//
//////////////////
////////////////////
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-webfont');
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-italic-webfont', normal, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-light-webfont', 100);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-light-italic-webfont', 100, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', 800);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', 800, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', bold);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', bold, italic);
////////////////////
//
// Base
//
////////////////////
body { -webkit-font-smoothing: antialiased; }
p {
	line-height:em(24);
	padding-bottom:em(25);
}
b { font-weight:800; }
i { font-style:italic; }
ol { 
	list-style-type:decimal;
	line-height:em(25);
	padding-left:45px;
}
////////////////////
//
// Headers
//
////////////////////
h1, h2, h3, h4, h5, h6 { font-family:$primary-font; text-transform:lowercase; font-weight:100; }
h1 { font-size:em(55); }
h2 { font-size:em(50); }
h3 { font-size:em(40); }
h4 { font-size:em(30); }
h5 { font-size:em(20); }
h6 { font-size:em(16); }

.h1, .h2, .h3, .h4, .h5, .h6 { @extend h1; }
.h1 { font-size:em(55); }
.h2 { font-size:em(50); }
.h3 { font-size:em(40); }
.h4 { font-size:em(30); }
.h5 { font-size:em(20); }
.h6 { font-size:em(16); }
////////////////////
//
// Links
//
////////////////////
a { color:$green; text-decoration:none; }