// FONT-FACE
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-webfont');
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-italic-webfont', normal, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-light-webfont', 100);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-light-italic-webfont', 100, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', 800);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', 800, italic);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', bold);
@include font-face(magallanes, '#{$font-assetpath}magallanes-essential-bold-webfont', bold, italic);
//
body { font-family:$primary-fonts; }
// ANCHORS
a { color:black; text-decoration:underline; }
nav ul li a { text-decoration:none; }