<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header id="masthead-container" class="masthead-container"> 
	<div id="navigation-container" class="navigation-container nav-hide">
		<nav id="navigation" class="navigation">
			<ul>
				<li><a href="{{ site.baseurl }}/">home</a></li>
				<li><a href="{{ site.baseurl }}/artists">artists</a></li>
				<li><a href="{{ site.baseurl }}/press">press</a></li>
				<li><a href="{{ site.baseurl }}/help">help</a></li>
			</ul>
		</nav>
	</div>
	<div id="masthead" class="masthead">
		<div id="menu-container" class="menu-container">
			<div id="menu-toggle" class="menu-toggle">
				<div id="menu-icon" class="menu-icon"></div>
				Menu
			</div>
			<div id="app-store" class="app-store">
				<a href="https://itunes.apple.com/us/app/juju-art-mashup/id799548449?mt=8&uo=4" target="itunes_store">JUJU - Art Mashup</a>
			</div>
		</div>
		<div id="logo" class="logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/juju_logo.png" width="164" height="98" alt="{{ site.title }}" /></a></div>
		<div id="follow-us" class="follow-us">
			<div id="follow-nav" class="follow-nav">
				<h6 class="follow-title">Follow us</h6>
				<ul id="follow-block" class="follow-block">
					<li><a class="tumblr" href="http://jujuapp.tumblr.com/" target="_blank">Follow us on Tumblr</a></li>
					<li><a class="pinterest" href="http://www.pinterest.com/getjujuapp/" target="_blank">Follow us on Pinterest</a></li>
					<li><a class="facebook" href="https://www.facebook.com/getjujuapp" target="_blank">Follow us on Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>