<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
		<header id="masthead-container" class="masthead-container">
			<div id="masthead" class="masthead">
				<div id="logo" class="logo"><a href="http://www.sharethejuju.com"><img id="juju" class="juju" src="{{ site.baseurl }}/images/juju_logo.png" alt="JUJU" /></a></div>
				<nav id="navigation" class="navigation">
					<ul>
						<li><a href="{{ site.baseurl }}/">home</a></li>
						<li><a href="{{ site.baseurl }}/press">press</a></li>
						<li><a href="{{ site.baseurl }}/help">help</a></li>
					</ul>
				</nav>
				<div id="follow-us" class="follow-us">
						<ul>
              <li><a class="instagram" href="https://instagram.com/getjujuapp" target="_blank">Follow us on Instagram</a></li>
							<li><a class="twitter" href="https://twitter.com/getjujuapp" target="_blank">Follow us on Twitter</a></li>
							<li><a class="pinterest" href="https://www.pinterest.com/getjujuapp/" target="_blank">Follow us on Pinterest</a></li>
							<li><a class="facebook" href="https://www.facebook.com/getjujuapp" target="_blank">Follow us on Facebook</a></li>
						</ul>
				</div>
			</div>
		</header>