// Import
@import "settings";
@import "variables";
@import "foundation";
@import "bourbon";
// Base
html, body {
	width:100%;
	height:100%;
}
// Containers
.introduction {
	position:fixed;
	z-index:$z-introduction;
	top:0;
	width:100%;
	height:100%; 
	background-color:magenta;
}
.content-container {
	position:absolute;
	z-index:$z-content-container;
	top:97%;
	@include grid-row();
}
// .grid { @include grid-column(8, $collapse:true); }
// Excerpts
.excerpt-juju {
	@include grid-column(2);
	border:1px solid black;
	height:400px;
	background-color:white;
	@media #{$small-only} { @include grid-column(4); }
}
.excerpt-press {
	@extend .excerpt-juju;
}
.excerpt-artist-profile {
	@include grid-column(4);
	border:1px solid black;
	height:400px;
	background-color:white;
	@media #{$small-only} { @include grid-column(8); }
}
.excerpt-art-pack {
	@extend .excerpt-artist-profile;
}
.excerpt-how-to {
	@extend .excerpt-artist-profile;
}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
