// Import
@import "compass";
@import "bourbon";
@import "settings";
@import "variables";
@import "foundation";
@import "partials/common";
@import "partials/typography";
// Base
html, body {
	width:100%;
	height:100%;
	-webkit-font-smoothing:antialiased;
}
// Containers
.introduction {
	position:fixed;
	z-index:$z-introduction;
	top:0;
	width:100%;
	height:100%; 
	background-color:$lightgrey;
}
.overlay-container {
	position:absolute;
	width:100%;
	z-index:$z-content-container;
	top:97%;
	background-color:white;
}
.content-container {
	@include grid-row();
}
// MASTHEAD
.masthead-container { position:fixed; z-index:$z-masthead; width:100%; font-weight:800; }
.navigation-container { width:100%; background-color:$poppy;}
.navigation { @include grid-column(6, $center:true); padding:0; }
nav ul { list-style-type:none; margin:0; padding:0; }
nav ul li { display:inline; margin-right:16px; }
.masthead { @include grid-column(6, $center:true); padding:0; }
.menu-toggle-container { @include grid-column(3); }
.menu-toggle { float:left; width:56px; text-align:center; text-transform:lowercase; font-size:$font-medium; padding:0; }
.menu-icon { display:block; @extend %large-circle; }
.app-store { 
	float:left;
	width:144px;
	height:54px;
	@include border-radius(10px);
	border:4px solid $black;
	@extend %juju-sprite;
	text-indent:-9999px;
	background-position:-154px 9px;
	a { display:block; width:144px; height:54px; }
}
.logo { @include grid-column(2); text-align:center; }
.follow-us { @include grid-column(2); }
// SOCIAL
.social-links {}
.facebook {}
.tumblr {}
.twitter {}
.instagram {}
.pinterest {}
// CONTENT BADGES
%badge-type { position:absolute; z-index:$z-content-type; top:0px; right:0px; }
.badge-blog { @extend %badge-type; @extend %juju-sprite; width:110px; height:111px; background-position:-363px -111px; }
.badge-artist { @extend %badge-type; @extend %juju-sprite; width:146px; height:170px; background-position:-631px -111px; }
.badge-new { @extend %badge-type; @extend %juju-sprite; width:118px; height:150px; background-position:-936px -111px; }
.badge-juju { @extend %badge-type; @extend %juju-sprite; right:auto; left:150px; top:25px; width:126px; height:94px; background-position:-80px -120px; }
.badge-how { @extend %badge-type; @extend %juju-sprite; }
// EXCERPTS
.excerpt-blog-banner {
	@extend %excerpt-large;
	@extend %border;
}
.excerpt-blog {
	@extend %excerpt-small;
	@extend %border;
}
.excerpt-juju {
	@extend %excerpt-small;
	@extend %border;
}
.excerpt-how-to {
	@extend %excerpt-small;
	@extend %border;
}
.excerpt-artist {
	@extend %excerpt-small;
	@extend %border;
}
.excerpt-new-art {
	@extend %excerpt-small;
	@extend %border;
}



// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
